// Hero

@import "../variables.scss";
@import "../breakpoints.scss";

#hero {
  background: url("../../images/chase_hero.jpg") center center no-repeat;
  margin-top: -125px;
  padding: 200px 0px 200px 0px;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
  border-bottom: 3px solid $primary;
  @include bp-tablet-sm {
    padding: 160px 0px 30px 0px;
  }
  h1 {
    font-size: 14px;
    font-family: $poppins;
    @include bp-tablet-sm {
      line-height: 1.6;
    }
  }
  h2 {
    font-size: 64px;
    font-weight: bold;
    padding: 10px 0px 20px 0px;
    @include bp-tablet-sm {
      font-size: 28px;
      margin-bottom: 0px;
    }
  }
  h1,
  h2 {
    color: $white;
  }
}
